header.container {
  padding: 5rem 0 2rem 0;
  text-align: center;
}

.bx-trash {
  color: red;
}
.bx-trash:hover {
  text-shadow: 1px 1px 1px red;
  cursor: pointer;
}

.bx {
  font-size: 2rem;
}

tr td:nth-child(4), tr td:nth-child(5), tr th:nth-child(4), tr th:nth-child(5){
  text-align: center;
}

table .team {
  position: relative;

}

table .bar {
  display: block;
  width: 100%;
  height: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #9b4dca;
}
